/* src/css/index.css */
@import './utils/Layout.css';
@import './utils/Spacing.css';
@import './components/Button.css';
@import './components/Input.css';
@import './components/Navbar.css';
@import './pages/Auth.css';
@import './pages/Dashboard.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}